WcfTest/WebApplication/Service References/ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost:2524/Service.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2524/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2524/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2524/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostData_InputMessage">
    <wsdl:part name="parameters" element="tns:PostData" />
  </wsdl:message>
  <wsdl:message name="IService1_PostData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutData_InputMessage">
    <wsdl:part name="parameters" element="tns:PutData" />
  </wsdl:message>
  <wsdl:message name="IService1_PutData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteData_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteData" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TestMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:TestMethod" />
  </wsdl:message>
  <wsdl:message name="IService1_WebGetT_InputMessage">
    <wsdl:part name="parameters" element="tns:WebGetT" />
  </wsdl:message>
  <wsdl:message name="IService1_WebGetT_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebGetTResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostData" message="tns:IService1_PostData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostDataResponse" message="tns:IService1_PostData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutData" message="tns:IService1_PutData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PutDataResponse" message="tns:IService1_PutData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteData" message="tns:IService1_DeleteData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteDataResponse" message="tns:IService1_DeleteData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TestMethod" message="tns:IService1_TestMethod_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebGetT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WebGetT" message="tns:IService1_WebGetT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WebGetTResponse" message="tns:IService1_WebGetT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service1">
    <wsdl:port name="MetadataExchangeHttpBinding_IService1" binding="i0:MetadataExchangeHttpBinding_IService1">
      <soap12:address location="http://localhost:2524/Service.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:2524/Service.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>